.about {
    display: flex;
    background-color: rgb(238, 233, 212);
    padding: 20px 0;
    justify-content: center;
    min-height: 100vh;
    color: rgb(38, 52, 107);
}

.text:not(Title) {
    width: 680px;
    margin-left: 120px;
    text-align: left;
    font-size: calc(10px + 1.5vmin);
}

.dino {
    width: 800px;
    height: 600px;
    margin-right: 120px;
    background-image: url('dino.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}